/* All styles for your Card Components live here */
.card-container {
    margin: 0 0 0 40px;
    border: 1px solid gray;
    padding: 0 0 5px 0;
    border-radius: 5px;
}

.card-banner img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 5px;
}

h1, p {
    padding: 2px;
}